# LaTeX Stuff
*.bib linguist-generated
*.tex linguist-generated

# Site
_build/* linguist-generated
_layout/* linguist-generated
*.html  linguist-generated
*.css   linguist-generated

# Serialisation
*.json  text
*.toml  text
*.xml   text
*.yaml  text
*.yml   text

# Data files
*.csv   text

# JavaScript Libraries
*.js linguist-generated
